body{
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    background: 	#dfe3ee;
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background-color: #00334e;
    a.navbar-brand{
        color: white;
    }
    a.nav-link{
        font-size: 12px;
    }

}
.jumbotron{
    background-image: url("../images/jumbo.png");
    background-size: cover;
    height: 600px;
    color: white;
    margin-bottom: 0px;;
    hr{
        background: white;
        width: 50%;
        float: left;
    }
    p{
        width: 40%;
    }
   
}
.bg-left{
    background: #52575d;
    font-size: 11px;
    color: white;
    padding:30px;
    .profile-img{
        width: 100px;
        border-radius: 70px;
    }
    hr{
        background-color: white;
    }
}
#descriptionBody{
    font-size: 12px;
    height: 150px;
}
.bg-right{
    margin-top: 20px;
    margin-bottom: 20px;
    .container{
        background: #dfe3ee;
        padding: 10px;
        font-size: 12px;
    }

}
.active{
    color:#eeeeee !important;
}
.course-img{
    width: 100px;
    margin: 50% auto;
}
.btn-costume{
    background: #1f4068;
    font-size: 13px;
    color:white;
}
.bg-table{
    background: 	#dfe3ee;
}
footer{
	background-color: black;
	text-align: center;
	font-size: 12px;
	margin-top: auto;
	padding:20px;
	color:white;
}

/* media queries */
@mixin phone{
	@media only screen and (max-width:480px){
		@content;
	}
}


@mixin ipad{
	@media only screen and (max-width:768px){
		@content;
	}
}

@mixin add{
	@media only screen and (max-width:987px){
		@content;
	}
}
@mixin ipadpro{
	@media only screen and (max-width:1024px){
		@content;
	}
}