body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dfe3ee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #00334e;
}

.navbar a.navbar-brand {
  color: white;
}

.navbar a.nav-link {
  color: white;
  font-size: 12px;
  padding: 3px 10px;
}

.jumbotron {
  background-image: url("../images/jumbo.png");
  background-size: cover;
  height: 300px;
  border-radius: 0;
  color: white;
  margin-bottom: 0px;
}

.jumbotron hr {
  background: white;
  width: 50%;
}

#card-course {
  border-radius: 30px;
}

#card-course .card-body {
  margin-bottom: 5px;
  height: 150px;
  font-size: 12px;
  border-radius: 10px;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white;
}

/* media queries */
/*# sourceMappingURL=clientcourses.css.map */