body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #dfe3ee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.navbar {
  background-color: #00334e;
}

.navbar a.navbar-brand {
  color: white;
}

.navbar a.nav-link {
  color: white;
  font-size: 12px;
  padding: 3px 10px;
}

#courseList {
  font-size: 12px;
}

.user-img {
  width: 100px;
  margin: 0 auto;
}

.phone-img {
  width: 20px;
  padding-right: 3px;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white;
}

/* media queries */
/*# sourceMappingURL=profile.css.map */