body{
	padding:0;
	margin:0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
    background: 	#dfe3ee;
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background-color: #00334e;
    a.navbar-brand{
        color: white;
    }
    a.nav-link{
        color:white;
        font-size: 12px;
        padding: 3px 10px;
    }
}
#courseList{
	font-size: 12px;
}
.user-img{
    width: 100px;
    margin: 0 auto;
}
.phone-img{
    width: 20px;
    padding-right: 3px;
}

footer{
	background-color: black;
	text-align: center;
	font-size: 12px;
	margin-top: auto;
	padding:20px;
	color:white;
}

/* media queries */
@mixin phone{
	@media only screen and (max-width:480px){
		@content;
	}
}


@mixin ipad{
	@media only screen and (max-width:768px){
		@content;
	}
}

@mixin add{
	@media only screen and (max-width:987px){
		@content;
	}
}
@mixin ipadpro{
	@media only screen and (max-width:1024px){
		@content;
	}
}