body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("../images/jumbo.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lato', sans-serif;
}

.reg-form {
  height: 390px !important;
}

.reg-form .form-control {
  font-size: 12px !important;
  padding: 2px 10px;
}

.navbar {
  background-color: #222831;
}

.navbar a.nav-link {
  color: white;
  font-size: 12px;
}

.navbar a.navbar-brand {
  color: white;
}

.container .div {
  height: 10px;
  background-color: #ffaa71;
  margin: 5px;
}

.btn-register {
  background-color: #ffaa71;
}

#registerUser {
  font-size: 12px;
}

#registerUser form input {
  font-size: 12px;
}

#description {
  font-size: 13px;
}

footer {
  background-color: black;
  text-align: center;
  font-size: 12px;
  margin-top: auto;
  padding: 20px;
  color: white;
}

/* media queries */
/*# sourceMappingURL=register.css.map */